---
layout: default
---
<style>
    .ice{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .drawer{
        width: 80%;
        height: 60%;
        border: 3px double #4a9be2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .icecream{
        width: 20vw;
        height: 20vw;
        /* border: 1px solid; */
        background-color: rgb(231, 231, 231);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icepic{
        width: 100%;
        height: 100%;
    }
</style>
<div class="ice">
   冰柜
   <div class="drawer">
        <div class="icecream" onclick="chooseit('小布丁')">
            <img class="icepic" src="../css/pics/demopics/xiaobuding.jpeg" />
        </div>
        <div class="icecream" onclick="chooseit('绿舌头')">
            <img class="icepic" src="../css/pics/demopics/lvshetou.jpeg" />
        </div>
        <div class="icecream" onclick="chooseit('老冰棒')">
            <img class="icepic" src="../css/pics/demopics/laob.jpeg" />
        </div>
        <div class="icecream" onclick="chooseit('梦龙')">
            <img class="icepic" src="../css/pics/demopics/menglong.jpeg" />
        </div>
        <div class="icecream" onclick="chooseit('明治')">
            <img class="icepic" src="../css/pics/demopics/mingzhi.jpeg" />
        </div>
       <div class="icecream" onclick="chooseit('八坨')">
            <img class="icepic" src="../css/pics/demopics/batuo.jpeg" />
        </div>
       <div class="icecream" onclick="chooseit('苦咖啡')">
            <img class="icepic" src="../css/pics/demopics/kukafei.jpeg" />
        </div>
       <div class="icecream" onclick="chooseit('绿色心情')">
            <img class="icepic" src="../css/pics/demopics/lvse.jpeg" />
        </div>
       <div class="icecream" onclick="chooseit('东北大板')">
            <img class="icepic" src="../css/pics/demopics/dongbei.jpeg" />
        </div>
   </div>
</div>
<script>
    function chooseit(item){
        alert('你选择了' + item)
    }
</script>
